.slider {
    position: relative;
    width: 70%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px #0008;
    border-radius: 3px;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        width: 100%;
    }

    &:after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #f68222;
        transition: all 5000ms;
        animation: animatedLoader 5s linear infinite;

        @keyframes animatedLoader {
            0% {
                width: 0%;
            }

            100% {
                width: 100%;
            }

        }

    }

    .slides-container {
        display: flex;
        transition: transform 0.5s ease;
        padding: 0;

        .hackathon {
            margin: 0;
            width: calc(100% - 2rem);
            padding: 1rem;
            border-radius: 3px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            background-color: #e0e4ff;

            &:hover {
                border-color: #f68222;
                background-color: #fff;
            }

            .hackathon-title {
                font-size: 2.5rem;
                border-radius: 0 3px 0 0;
                color: #4044ff;
                text-shadow: 0px 0px 1px #000;
            }

            &:hover .hackathon-title {
                color: #f68222;
                text-shadow: 0 0 0 #000;
            }

            .hackathon-theme {
                font-size: 1rem;
                font-weight: 700;
                color: #707477;
            }

            .hackathon-registration {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .hackathon-registration .description {
                font-weight: 500;
                font-size: 0.8rem;
                margin: 1rem 0;
            }

            .hackathon-registration button {
                padding: 1rem;
                margin: 1rem;
                cursor: pointer;
                border-radius: 5px;
                background-color: #4044ff;
                color: #f0f4ff;
                font-size: 1.2rem;
                font-weight: 600;
                border: none;
                box-shadow: 0 0 2px 0 #0008;
            }

            .hackathon-registration button:hover {
                background-color: #fff;
                color: #4044ff;
            }
        }
    }

    .prev-button,
    .next-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        border: none;
        padding: 10px;
        cursor: pointer;
        opacity: 0;
    }

    .prev-button {
        left: 10px;
    }

    .next-button {
        right: 10px;
    }

    &:hover .prev-button,
    &:hover .next-button {
        opacity: 1;
    }
}